
body {
 margin: 0px;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0px 300px; 
height: 80px;
background-color:#d5a6e0;



}

a {
color:white;
}

nav ul {
display: flex;
gap: 20px;
list-style: none;
}
nav a {
font-size: 20px;
text-decoration: none;
}
.borde{
    margin: 15px 0px;
    padding: 15px;
    background-color: blue;
    cursor:pointer;
    
}
