p {
  margin: 40px ;
  justify-content: center;
   font-size: 20px;

}
.green {
  color: green;
}
.red {
  color: red;
  font-weight: bold;
}
.underline {
  text-decoration: underline overline;
}
.negrilla{
    font-size:xxx-large; 
}
.blue{
    color: blue;
    font-size: larger;
}
.red{
    color: red;  
    text-decoration: underline;
    font-size: 23px;   
 
}

